telegram:
  accessToken: <placeholder>

yandex:
  keyId: <The id of the service key>
  serviceAccountId: <The id of the service account>
  privateKey: <BASE-64 PKCS8 encoded private key part (without header/footer if present)>

